#nav-list {
	margin-top: 10px;
	background-color: black;
	color: white;
	font-size: 1.3em;
}

#nav-list a {
	text-align: center;
}
 .row {
 	margin: 0 10px 15px;
 }

#that-section {
	height: 1000px;
	background-color: #a3d39c;
	margin-bottom: 15px;
}

h2 {
	text-align: center;
}

section span {
	text-align: justify;
}